<div class="container">
  <h2 class="bg-warning">I'm from app component</h2>
  <hr />
  <app-servers></app-servers>

  <div class="card bg-warning mt-3">
    <div *ngIf="flagTodo" class="alert alert-danger" role="alert">
      Please enter something below...!
    </div>
    <div class="row">
      <div class="col-9">
        <form>
          <div class="form-group">
            <input
              [(ngModel)]="inputTodo"
              name="inputTodo"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter your todo here..."
            />
          </div>
        </form>
      </div>
      <div class="col-3">
        <button (click)="addButtonPressed()" class="btn btn-info btn-block">
          Add Todo
        </button>
      </div>
    </div>
    <div *ngFor="let todo of todoArray">
      <div class="row">
        <div class="col-8">
          <p class="lead bg-info font-weight-bold p-2">
            {{ todo.todo }}
          </p>
        </div>
        <div class="col-4">
          <button (click)="deleteTodo(todo.id)" class="btn btn-danger">
            Delete
          </button>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
